label{
    color: #fff;
    margin-bottom: 0.5rem;
}

form{
display: flex;
flex-direction: column;
padding: 4rem 1rem;
margin: auto;
max-width: 600px;
}
.form1 input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color:  rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
}
.btn1{
    width: 50%;
    height: 3rem;
    background-color: rgb(130, 130, 226);
    font-size: large;
    border: 2px solid white;
    
}
.btn1:hover{
    box-shadow: 2px 3px 4px 10px rgb(69, 69, 136);
}