.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;

}
.project-card{
    background: #1a1717;
    padding: 1.2rem 1rem;
    box-shadow: 0 3px 14px rgba(3, 8, 1000000, 30);

}
.project-card:hover{
    box-shadow: 0 3px 20px rgba(113, 238, 19999999, 30);
}
.project-card img{
        width: 100%;
}
.project-title{
    color: rgb(223, 220, 220);
    padding: 1rem 0;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;   
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

}
.pro-btns .btn4{
   
    background-color: rgb(235, 152, 85);
    font-size: 16px;
    position: relative;
    top: 20%;
    background: #272727;
    color: #c4960d;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px ;
    display: inline-block;
    cursor: pointer;
    /* transition: background-color .4s; */
    border: 0.1rem solid ;
    

}
.btn4{
    height: 4rem;
}
.btn4:hover{
    color: rgb(15, 15, 15);
    background: rgb(241, 241, 24);
    cursor: pointer;
    box-shadow: 4px 5px 10px rgba(113, 238, 10, 4);}
@media screen and (max-width:740px){
    .project-container{
        max-width: 50%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
